name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout do código
      - name: Checkout code
        uses: actions/checkout@v3

      # Configuração do Java
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      # Build do projeto
      - name: Build with Maven
        run: mvn clean package

      # Testar o projeto
      - name: Run tests
        run: mvn test

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      # Checkout do código
      - name: Checkout code
        uses: actions/checkout@v3

      # Configurar AWS CLI
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }} # Entrar no GitHub e acessar Settings > Secrets and Variables > Actions > New Environment > Add environment variable
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} # Entrar no GitHub e acessar Settings > Secrets and Variables > Actions > New Environment > Add environment variable
          aws-region: us-east-1

      # Fazer o deploy para AWS Lambda
      - name: Deploy to AWS Lambda
        run: |
          aws lambda update-function-code \
            --function-name LiquibaseLambdaHandler \
            --zip-file fileb://target/demo-0.0.1-SNAPSHOT.jar
